<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table">
                <thead class="table-success">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">USER ID</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">COMPLETED</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.userId}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.completed}}</td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>
